@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Oil #050100 

Orange #FFBD59

Lime #C0FF72

Purple #8D52FB

Off White #FAF9F6*/

html {
  background-color: #050100;
  font-family: "Roboto Condensed", serif;
  color: rgb(192, 192, 192);
}

a {
  text-decoration: none;
}

.links {
  color: rgb(192, 192, 192);
  border-radius: 30px;
  border-color: rgb(192, 192, 192);
}

.link-item {
  padding: 0.7rem;
}
.link-item:hover {
  border: 1px solid #201d18;
  border-radius: 30px;
  background-color: #201d18;
  color: white;
  transition: 200ms;
  padding: 0.7rem;
}

.custom-lime {
  background-color: #c0ff72 !important;
}

.custom-lime-font {
  color: #c0ff72 !important;
}

.custom-purple {
  background-color: #8d52fb !important;
}

.custom-purple-font {
  color: #8d52fb !important;
}

.custom-off-white {
  background-color: #faf9f6 !important;
}

.custom-orange {
  background-color: #ffbd59 !important;
}

.custom-orange-font {
  color: #ffbd59 !important;
}

.custom-black {
  background-color: #050100 !important;
}
.custom-black-font {
  color: #050100 !important;
}

.flex-between-centered {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img:hover {
  transform: scale(1.2); /* Increase size by 20% on hover */
}

.contact-btn {
  background-color: #faf9f6;
  color: #050100;
  border: 1px solid #201d18;
  border-radius: 30px;
  transition: 200ms;
  padding-left: 2rem;
  padding-right: 2rem;
}

.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212; /* Dark background */
  color: white; /* White text */
  font-family: Arial, sans-serif;
  font-size: 3rem;
  animation: fadeIn 1s ease-in-out;
}

.greeting {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-top {
  margin: 1rem auto;
}

.squares-canvas {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

.squares-container {
  width: 80%;
  height: 80%;
}

.connect-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.text-block-intro {
  border: 0.5px solid sandybrown;
  border-radius: 25px;
}

.footer {
  background-color: #050100;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  border-radius: 10px;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h2 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
  height: 100px;
}
.socials {
  padding-left: 3rem;
}

.link-hover:hover {
  color: #c0ff72;
}

.big-name {
  font-size: 10rem;
  font-weight: 900;
  bottom: -95px;
  left: 84px;
  opacity: 0.6;
}

.contact-us-form {
  border-radius: 10px !important;
}

.contact-us-send-btn:hover {
  background-color: black !important;
  color: #c0ff72 !important;
}

.top-contact-logo {
  font-weight: 900;
  top: -60px;
  font-size: 10rem;
  right: -4px;
}

.bottom-contact-logo {
  font-weight: 900;
  bottom: 52px;
  font-size: 10rem;
  left: 854px;
}

.exp-all {
  position: relative;
}

.timeline-line {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #4a5568; /* Adjust color as needed */
  z-index: -1;
}

.exp-block {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.exp-block.visible {
  opacity: 1;
  transform: translateY(0);
}

#submit-button {
  padding: 0.5rem 1rem;
}

#submit-button:hover {
  transform: scale(1.05);
  background-color: orange !important;
}
