@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Oil #050100 

Orange #FFBD59

Lime #C0FF72

Purple #8D52FB

Off White #FAF9F6*/

html {
  background-color: #050100;
  font-family: "Roboto Condensed", serif;
  color: #faf9f6;
}

a {
  text-decoration: none;
}

.links {
  color: #faf9f6 !important;
}

.custom-lime {
  background-color: #c0ff72 !important;
}

.custom-green-font {
  color: #c0ff72 !important;
}

.custom-purple {
  background-color: #8d52fb !important;
}

.custom-purple-font {
  color: #8d52fb !important;
}

.custom-off-white {
  background-color: #faf9f6 !important;
}

.custom-orange {
  background-color: #ffbd59 !important;
}

.custom-orange-font {
  color: #ffbd59 !important;
}

.custom-black {
  background-color: #050100 !important;
}
.custom-black-font {
  color: #050100 !important;
}

.flex-between-centered {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
